.majorcontainer{
  
    padding-top:10vh;
     display: flex;
 flex-direction: column;
 gap: 2.5vh;
 justify-content: center;
 /* align-items: center; */
}
.card{
    
    margin-left: 22vw;
    width: 40vw;
    box-shadow: 0px 0px 1px rgb(0, 0, 0);
    height:121.5vh;
}
.headcont{
    display: flex;
    flex-direction: row;
}
.head{
    padding: 1.5vh;
    display: flex;
    gap: 1vh;
}
.imageholder{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid purple;
    border-radius: 50%;
    width: 2.2vw;
    height: 4.45vh;
}
.profileimg{
    
    border-radius: 50%;
    width: 2vw;
    height: 4vh;
}
.Profiledetails{
    width:35vw;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
}
.username , .postloc{
    margin: 0px;
    text-align: left;
    line-height: 2.2vh;
    text-align: baseline;
}
.username{
    color: #535353;
    font-size: 1.5vh;
}
.postloc{
    color: #636363;
    font-size: 1.5vh;
    font-weight: 450;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dots{
    font-size: 0.9vw;
    color: #636363;
}
.Postimg{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;

    width: 614px;
    height: 614px;
}
/* .down{
    display: flex;
    gap: 0.01vh;
    flex-direction: column;
} */
.cont{
    padding: 0.5vw 1vw;
    display: flex;
    gap:1vw;
    flex-direction: row;
}
.likshr{
    display: flex;
    gap: 1vw;
    width: 36.5vw;
}
.ico{
    font-size: 1.5vw;
}

.likes{
    display: flex;
    gap: 0.5vw;
    flex-direction: row;
    padding: 0.2vw 1vw;
}
.likeimg{
    
    border-radius: 50%;
    width: 1.5vw;
    height: 3vh;
}
.likedby{
    display: flex;
    flex-direction: row;
    gap:0.2vw;
    align-items: center;
    font-size: 1.7vh;
    font-weight: 600;
    color: #777676;
}
.high{
    color: black;

}
.low{
    font-weight: 400;
}