.majorcontainer{
    display: flex;
    justify-content: center;
    background-color: white;
    
    box-shadow: 0px 1px rgb(219, 218, 218);
    position:fixed;
    z-index: 999;
}
.main{
    display: flex;
    gap: 13vw;
    justify-content: center;
    width: 100vw;
    
    height: 4vh;
    padding: 1vh;
    align-items: center;
}
.logo{
    width: 6vw;
    height: 3.5vh;
}
.searchbox{
    padding: 0vw 0.2vw;
    display: flex;
    align-items: center;
    background-color: #FAFAFA;
    width: 12.14vw;
    height: 3vh;    
    
    border: 1px solid rgb(197, 195, 195);
}
.search{
    background-color: #FAFAFA;
    border: 0px;
    width: 10.14vw;
    height: 1.8vh; 

}
.search:focus{
    outline:none;

}
::-webkit-input-placeholder{
    color: rgb(160, 159, 156);    
    text-align: center;
    font-family: inherit;
    font-weight: 900px;
}
.ico{
    font-size: 0.8vw;
    color: rgb(170, 169, 166);
}
.options{
    display: flex;
    gap:1vw;
    align-items: center;
}
.profile{
    border-radius: 50%;
    width: 1.75vw;
    height: 3.5vh;
}
.optionico{
    font-size: 1.5vw;
}
