.majorcontainer{
    display: flex;
    margin-top:10vh;
    flex-direction: column;
    width: 20vw;
}
.majo
{
    display: flex;
    margin-top:10vh;
    flex-direction: column;
    width: 20vw;
    display: flex;
    flex-direction: row;
}
.Button{
    display: flex;
    flex-direction: row;
}
.buttongroup{
    display:flex;
    flex-direction:row;}
.san{
   display: flex;
    margin-top:15vh;
    flex-direction: row;
    width: 20vw;
}
